/* General container styling */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Heading styling */
h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* Row styling */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Card styling */
.card {
  width: 300px; /* Set a fixed width for each card */
  margin: 20px; /* Add some margin between cards */
  transition: transform 0.3s, box-shadow 0.3s; /* Add transition for smooth effect */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add box shadow */
}

.card:hover {
  transform: scale(1.05); /* Scale up the card on hover */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15); /* Increase box shadow on hover */
}

.card-img-top {
  max-width: 100%; /* Ensure images don't exceed the width of their container */
  height: auto; /* Maintain image aspect ratio */
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card-text {
  margin-bottom: 5px;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .card {
    width: calc(50% - 40px); /* Adjust card width for smaller screens */
  }
}

@media (max-width: 576px) {
  .card {
    width: calc(100% - 40px); /* Adjust card width for mobile devices */
  }
}

/* Footer styling */
.footer {
  background-color: #2a2a2b;
  padding: 50px 0;
  color: #fff;
  text-align: center;
  width: 100%;
  position: relative;
  bottom: 0;
}

.footer-content h3 {
  color: #fff;
}

.footer-content p {
  color: #fff;
}

.social-icons a {
  color: #fffcfc;
  font-size: 24px;
  margin-right: 10px;
}

.footer-bottom {
  margin-top: 30px;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  display: inline;
  margin-right: 20px;
}

.footer-links li:last-child {
  margin-right: 0;
}

.footer-links a {
  color: #faf7f7;
  text-decoration: none;
}

.footer p {
  margin-top: 10px;
  color: #fdfafa;
}

/* Responsive design for footer */
@media (max-width: 576px) {
  .footer-content h3,
  .footer-content p,
  .footer-links a {
    font-size: 14px;
  }

  .social-icons a {
    font-size: 20px;
  }
}
